<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ ASSET_PATH }}/img/icons/apple-touch-icon-152x152.png">
  </head>

  <body>

    <nav class="main-nav">
        <h1 class="logo"><a href="#">bjorsq</a></h1>
        <a href="#main-menu"
           role="button"
           id="main-menu-toggle"
           class="menu-toggle"
           aria-expanded="false"
           aria-controls="main-menu"
           aria-label="Open main menu">
      
          <span class="sr-only">Open main menu</span>
          <span class="menu-toggle-icon-open" aria-hidden="true">&equiv;</span>
        </a>
        
        
        <nav id="main-menu" role="navigation" class="main-menu" aria-expanded="false" aria-label="Main menu">
          <a href="#main-menu-toggle"
             role="button"
             id="main-menu-close"
             class="menu-close"
             aria-expanded="false"
             aria-controls="main-menu"
             aria-label="Close main menu">
      
            <span class="sr-only">Close main menu</span>
            <span class="menu-toggle-icon-close" aria-hidden="true">&times;</span>
          </a>
          <ul>
            <li><a href="/photos/"{% if page.layout == 'photos' %} class="active"{% endif %}>photos</a></li>
            <li><a href="/videos/"{% if page.layout == 'videos' %} class="active"{% endif %}>videos</a></li>
            <li><a href="/podcast/"{% if page.layout == 'podcast' %} class="active"{% endif %}>music</a></li>
            <li><a href="/recipes/"{% if page.layout == 'recipes' %} class="active"{% endif %}>recipes</a></li>
            <li><a href="/cv/"{% if page.title == 'curriculum vitae' %} class="active"{% endif %}>CV</a></li>
          </ul>
        </nav>
        <a href="#main-menu-toggle"
           class="backdrop"
           tabindex="-1"
           aria-hidden="true" hidden></a>
      
      </nav>

    <header class="main-header">
        <h2 class="main-header_title">bjorsq</h2>
        <h3 class="main-header_subtitle">{{page.title}}</h3>
    </header>

    {{ content }}



    <footer class="footer">
      <div class="container">

      </div>
    </footer>

    <script src="{{ ASSET_PATH }}/js/script.js"></script>
    {% include JB/analytics %}
    
  </body>
</html>