		<header id="main-header">
			<div class="container">
				<h1>{{page.title}}</h1>
				<p class="lead">{{page.tagline}}</p>
			</div>
		</header>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
			 
						{{content}}

					</div>

					<div class="col-md-3 sidebar">
						<nav role="navigation" data-spy="affix" data-offset-top="167" data-offset-bottom="10">

            {% if page.sections %}
							<ul class="nav nav-pills nav-stacked" id="section-navbar">
							{% for section in page.sections %}
								<li><a href="#{{ section.anchor }}">{{ section.title }}</a></li>
							{% endfor %}
							</ul>
              <script>jQuery(function($){$('body').scrollspy({target:'#section-navbar'});});</script>
						{% endif %}

            {% if page.githuburl or page.downloadurl %}
              <ul class="nav nav-pills nav-stacked">
			         {% if page.githuburl %}
			         <li><a href="{{ page.githuburl }}" title="{{ page.title }} on GitHub" class="github">{{ page.title }} on GitHub</a></li>
			         {% endif %}
			         {% if page.downloadurl %}
			         <li><a href="{{ page.downloadurl }}" title="Download {{ page.title }}" class="github">Download {{ page.title }}</a></li>
			         {% endif %}
							</ul>
            {% endif %}

						</nav>
					</div>

				</div>
			</div>
		</section>
