    <header id="main-header">
      <div class="container">
        <h1>{{page.title}}</h1>
        <p class="lead">{{page.tagline}}</p>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="span9">
            {% if page.submenu %}
            <div class="span3 page-submenu">
              <h4>Contents</h4>
              <ul>
              {% for item in page.submenu %}
                <li><a href="#{{ item.anchr }}">{{ item.title }}</a></li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
        
            {{content}}

          </div>

          <div class="span3 sidebar">
            <nav role="navigation">
            {% if page.title == 'Wordpress Plugins' or page.category == 'plugins' %}
				<ul class="page-sidenav">
				{% for item in site.categories.plugins do %}
					<li{% if page.title == item.title %} class="active"{% endif %}><a href="{{ item.url }}" title="{{ item.tagline }} "><i class="icon-chevron-right"></i> {{ item.title }}</a></li>
				{% endfor %}
				</ul>
            {% endif %}
            {% if page.title == 'UoL Wordpress Theme' or page.category == 'theme' %}
				<ul class="page-sidenav">
				{% for item in site.categories.theme do %}
					<li{% if page.title == item.title %} class="active"{% endif %}><a href="{{ item.url }}" title="{{ item.tagline }}"><i class="icon-chevron-right"></i> {{ item.title }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
            {% if page.title == 'Custom Themes' or page.category == 'customthemes' %}
				<ul class="page-sidenav">
				{% for item in site.categories.customthemes do %}
					<li{% if page.title == item.title %} class="active"{% endif %}><a href="{{ item.url }}" title="{{ item.tagline }}"><i class="icon-chevron-right"></i> {{ item.title }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
            {% if page.title == 'Help' or page.category == 'help' %}
				<ul class="page-sidenav">
				{% for item in site.categories.help do %}
					<li{% if page.title == item.title %} class="active"{% endif %}><a href="{{ item.url }}" title="{{ item.tagline }}"><i class="icon-chevron-right"></i> {{ item.title }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			</nav>
			<p><a href="https://github.com/essl-pvac" title="essl-pvac on GitHub" class="btn btn-block">essl-pvac on GitHub</a></p>
			{% if page.githuburl %}
			<p><a href="{{ page.githuburl }}" title="{{ page.title }} on GitHub" class="btn btn-block">{{ page.title }} on GitHub</a></p>
			{% endif %}
      {% if page.downloadurl %}
      <p><a href="{{ page.downloadurl }}" title="Download {{ page.title }}" class="btn btn-block btn-primary">Download {{ page.title }}</a></p>
      {% endif %}
            </nav>
          </div>

        </div>
      </div>
    </section>
