		<header id="main-header">
			<div class="container">
				<h1>bjorsq</h1>
				<p class="lead">{{page.title}} <a href="/podcast/rss.xml" title="Subscribe to RSS feed" class="rss-icon">Subscribe to RSS feed</a></p>
				
			</div>
		</header>

		<section>
			<div class="container">
			{% if site.data.podcast %}
				{% for episode in site.data.podcast %}
				<div class="podcast">
					<a href="https://dl.dropboxusercontent.com/u/5104625/podcast/{{ episode.file }}"><img src="https://dl.dropboxusercontent.com/u/5104625/podcast/artwork/{{ episode.file }}.jpg" class="cover"></a>
					<h4><a href="https://dl.dropboxusercontent.com/u/5104625/podcast/{{ episode.file }}">{{ episode.title }}</a></h4>
					<p class="meta">Posted on {{ episode.date | date_to_long_string}}</p>
					<p>{{ episode.description | markdownify }}</p>
				</div>
				{% endfor %}
			{% endif %}	
			</div>
		</section>
