        <div class="container">
        {% if site.data.podcast %}
            <button onclick="window.location.href='/podcast/rss.xml';" class="rss">RSS</button>
            <ul id="podcast" class="bq-list">
            {% for episode in site.data.podcast %}
                <li>
                    <span class="episode-postedon">{{ episode.date | date_to_long_string}}</span>
                    <a href="https://podcast.bjorsq.net/{{ episode.file }}" class="episode-link">{{ episode.title }}</a>
                    <span class="episode-description">{{ episode.description  | markdownify | remove: '<p>' | remove: '</p>' }}</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}	
        </div>
