 /**
   * logo
   */
 
   .logo {
    margin: 0;
}

.logo a,
.logo a:hover,
.logo a:active {
    background: transparent url('http://www.bjorsq.net/assets/themes/bjorsq/img/header-brand.png') no-repeat center center;
    color: transparent;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 2em;
    overflow: hidden;
    text-decoration: none;
    font-size: 24px;
}