button.rss {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    padding: .5rem;
    margin: 1rem 0;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    background: $rss;
    border: 2px solid $rss;
    border-radius:.25rem;
    &:hover,
    &:active {
        border-color: $dark-grey;
    }
    padding-left: 1.75rem;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: .5rem;
        top: .5rem;
        width: 1rem;
        height: 1rem;
        background-image: radial-gradient(
            at bottom left,
            $rss 0,
            $rss 37%,
            $white 40%,
            $white 47%,
            $rss 50%,
            $rss 57%,
            $white 60%,
            $white 67%,
            $rss 70%,
            $rss 100%,
        );
        background-position: right -50% bottom -50%;
        background-repeat: no-repeat;
        transition: all .3s ease;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background: $white;
        left: .5rem;
        top: 1.2rem;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
    }
}
.episode-link,
.episode-description {
    display: block;
    padding-left: 2rem;
}
.episode-postedon,
.episode-description {
    font-size: .825rem;
    line-height: .825rem;
}
.episode-postedon {
    display: block;
    clear: both;
    border-bottom: 1px solid $light-grey;
    padding-bottom: .175rem;
    margin-bottom: .175rem;
}
.episode-description {
    font-style: italic;
}
button.playbutton {
    position: relative;
    display: block;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    top: .25rem;
    &:after {
        content: "";
        position: absolute;
        top: .25rem;
        left: .25rem;
        display: block;
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: .8rem;
      
        border-color: transparent transparent transparent $dark-grey;
        transition: 100ms all ease;
        cursor: pointer;
      
        // play state
        border-style: solid;
        border-width: .4rem 0 .4rem .7rem;
    }
  
    &.playing:after {
      border-style: double;
      border-width: 0px 0 0px .7rem;
    }
  
    &:after:hover {
      border-color: transparent transparent transparent $medium-grey;
    }
}
